<template>   
  <div id="app" class="app"> 
 
    <div class="header"> 
 
      <h1>Pinkie Pet Society</h1>       
      <nav>
        <h4 v-if="is_auth && isAdmin">{{this.admin.name+" "+this.admin.lastName}}</h4>
        <h4 v-if="is_auth && !isAdmin">{{this.pet.name}}</h4>
        <label v-if="!is_auth" class="error"> {{error}} </label> 
        <input v-if="!is_auth" type="text" v-model="user.userName" placeholder="Usuario">                                
        <input v-if="!is_auth" type="password" v-model="user.password" placeholder="Contraseña">                                  
        <button v-if="!is_auth" v-on:click="processLogIn" >Iniciar Sesion</button>        
        <button v-if="is_auth && isAdmin && admin.inventory" v-on:click="inventory" >Inventario</button> 
        <button v-if="is_auth && isAdmin  && admin.history" v-on:click="history" >Mascotas</button> 
        <button v-if="is_auth && isAdmin  && admin.procedures" v-on:click="procedures" >procedimientos</button> 
        <button v-if="is_auth"  v-on:click="logOut" > Cerrar Sesión </button>                        
      </nav>     
      
    </div>      

    <div class="main-component">       
      <router-view  
        v-on:logOut="logOut"           
      >       
        
      </router-view>     
    </div>      
  
  </div> 
</template>
 
<script> 
import axios from 'axios'; 
import jwt_decode from "jwt-decode"
export default {   
  name: 'App', 
 
  data: function(){  
    return{    
      is_auth : false,
      user: {                 
          userName:"",                 
          password:""             
      },
      error : "",
      isAdmin: false,
      admin: {
        name: "",
        lastName: "",
        history: false,
        inventory: false,
        procedures: false
      },
      pet:{
        id: "",
        name: "",
      }
    }  
  }, 
 
  components: {   
  }, 

  methods:{   
    verifyAuth: function() {       
      if(this.is_auth == false){         
        this.main();
      }else{
        this.validateAccess(); 
      }   
    },

    main: function(){
      console.log("MAIN");
      this.$router.push({name: "Main"});
    },

    history: function(){
      console.log("HISTORY");
      this.$router.push({name: "History"});
    },
    
    inventory: function(){
      console.log("INVENTORY");
      this.$router.push({ name: "Inventory" });
    },

    procedures: function(){
      console.log("PROCEDURES");
      this.$router.push({ name: "Procedures" });
    },

    petData: function(){
      console.log("PETDATA");
      this.$router.push({ name: "PetData" });
    },

    processLogIn: function(){             
      axios.post(                 
          "https://pinkie-pet-society-back-end.herokuapp.com/login/",                  
          this.user,         
          {headers: {}}                 
      ) .then((result) => {  
          this.userName = this.user.userName;
          localStorage.setItem("token_access", result.data.access);       
          localStorage.setItem("token_refresh", result.data.refresh);   
          localStorage.setItem("id", jwt_decode(result.data.access).user_id.toString());
          this.is_auth=true;  
          console.log(this.is_auth);
          this.user.password = "";             
          this.error = "";   
          this.verifyAuth();
      }).catch((errorStatus) => {           
          console.log(errorStatus)  
          if (errorStatus.response.status == "400"){
            this.error = "Complete los campos";
          }else if (errorStatus.response.status == "401"){
            this.error = "Error en las credenciales";
            this.user.userName = "";
            this.user.password = "";
          }else if (errorStatus.response.status == "500"){
            this.error = "Error en el servidor. Intente mas tarde";
          }                                    
      });        
    },
  
    validateAccess: function(){
      axios.get(                 
        `https://pinkie-pet-society-back-end.herokuapp.com/user/detail:${localStorage.getItem("id")}/`,
        {headers: {'Authorization': `Bearer ${localStorage.getItem("token_access")}`}}                
      ) .then((result) => {  
        var size = Object.keys(result.data.admin).length
        if(size>1){//es admin
          this.isAdmin = true;
          this.admin.name = result.data.admin.name;
          this.admin.lastName = result.data.admin.lastName;
          if(result.data.admin.inventory){
            this.admin.inventory = true;
            this.inventory();
          }
          if(result.data.admin.history){
            this.admin.history = true;
            this.history();
          }
          if(result.data.admin.procedures){
            this.admin.procedures = true;
            this.procedures();
          }
        }else{//es pet
        console.log(result.data)
          localStorage.setItem("pet_id", result.data.pet.id);       
          this.pet.name = result.data.pet.name;
          this.petData();
        }
      }).catch((errorStatus) => {           
        console.log(errorStatus)                               
        console.log("ERROR AL VALIDAD SI ES ADMIN");                                    
      }); 
    },

    logOut: function () {       
      localStorage.clear(); 
      this.user.userName = "";   
      this.isAdmin = false;
      this.admin.name = "";
      this.admin.lastName = "";
      this.admin.history = false;
      this.admin.procedures = false;
      this.admin.inventory = false;    
      this.is_auth = false; 
      this.verifyAuth();     
    },
  }, 
 
  created: function(){ 
    this.verifyAuth()   
  } 
 
} 
</script> 
 
<style>   
  body{     
    margin: 0 0 0 0;
    height: 5%;   
  } 
 
  .header{     
    margin: 0%;     
    padding: 0;     
    width: 100%;     
    height: 10vh;      
    min-height: 100px; 
 
    background-color: #283747 ;     
    color:#E5E7E9  ;
    display: flex;     
    justify-content: space-between;     
    align-items: center;   
  } 
 
  .header h1{     
    width: 20%;     
    text-align: center;   
  } 

  .header nav {     
    height: 100%;     
    width: 50%; 
    display: flex;     
    justify-content: space-around;     
    align-items: center; 
    font-size: 20px;   
  }

  .header nav button{     
    color: #E5E7E9;     
    background: #283747;     
    border: 1px solid #E5E7E9; 
    border-radius: 5px;     
    padding: 10px 20px;   
  } 
 
  .header nav button:hover{     
    color: #E5E7E9;         
    background: crimson;         
    border: 1px solid #283747;    
  }

  .main-component{  
    height: 80vh;     
    margin: 0%;     
    padding: 0%; 
    background: #FDFEFE ;   
  }

  .footer{     
    margin: 0;     
    padding: 0; 
    width: 100%;     
    height: 10vh;     
    min-height: 100px;  
    background-color: #283747;     
    color: #E5E7E9; 
  }

  .footer h2{     
    width: 100%;     
    height: 100%;          
    display: flex;     
    justify-content: center;     
    align-items: center;   
  }

  .error{
        width: 150px;
        color : red;
    }

</style>