<template > 
    
    <div >
        <br>   
        <h1 style="color: #283747"><center>Gestion historial mascotas</center></h1>

        <div class="formulario">
            <!--formulario-->
            <div class="margen">
                <h2 style="color: #283747"><center>Agregar procedimiento/producto </center></h2>
                <div class="formulario3">
                    <label >VETERINARIO: </label>
                    <label >MASCOTA: </label>
                    <select ref="seleccionado" v-model="admin" style="min-width: 90%">
                        <option v-for="admin in adminList" v-bind:key="admin.id" >{{admin.id+")."+admin.name+" "+admin.lastName}}</option>
                    </select>
                    <select ref="seleccionado" v-model="pet" style="min-width: 90%">
                        <option v-for="pet in petList" v-bind:key="pet.id" >{{pet.id+")."+pet.name+"-->"+pet.ownerName}}</option>
                    </select> 
                </div>
                <br>
                <div class="formulario1">
                    <div>
                        <label >PRODUCTO: </label>
                        <select ref="seleccionado" v-model="product" style="min-width: 90%">
                            <option v-for="product in productList" v-bind:key="product.id" >{{product.id+")."+product.name}}</option>
                        </select> 
                    </div>
                    <div>
                        <label >PROCEDIMIENTO: </label>
                        <select ref="seleccionado" v-model="procedures" style="min-width: 90%">
                            <option v-for="procedures in proceduresList" v-bind:key="procedures.id" >{{procedures.id+")."+procedures.name}}</option>
                        </select> 
                    </div>
                    <div>
                        <label >CANTIDAD: </label>
                        <input id="Cantidad" name="Cantidad" type="number" placeholder="Cantidad" v-model="order.amount">  
                    </div>
                </div>
                <br>
                <div class="formulario2">
                    <label >DESCRIPCION: </label>
                    <textarea  id="Descripcion" name="Descripcion" type="text" style="resize: none; " rows="3" placeholder="Descripcion" v-model="order.description"></textarea>
                </div>
                <br>
                <div>
                    <label class="error ">{{errorORDER}}</label>
                </div>
                <br>
                <br>
                <div class="formulario2">
                    <button id="Crear" type="submit" v-on:click="registerOrder">Registrar producto/procedimiento   </button>
                </div>

                
            </div>
            <!--formulario-->
            <div class="margen">
                <h2 style="color: #283747"><center>Registrar nueva mascota </center></h2>
                <div class="formulario1">
                    <div>
                        <label >NOMBRE: </label>
                        <label >NOMBRE: </label>
                        <input id="Nombre" name="Nombre" type="text" placeholder="Nombre" v-model="pet.name"> 
                    </div>
                    <div>
                        <label >NOMBRE DUEÑO: </label>
                        <input id="Nombre dueño" name="Nombre dueño" type="text" placeholder="Nombre dueño" v-model="pet.ownerName">  
                    </div>
                    <div>
                        <label >CELULAR DUEÑO: </label>
                        <input id="Celular dueño" name="Celular dueño" type="number" placeholder="Celular dueño" v-model="pet.ownerCellPhone "> 
                    </div>
                </div>
                <br>
                <div class="formulario1">
                    <div>
                        <label >DIRECCION: </label>
                        <input id="direccion" name="direccion" type="text" placeholder="direccion" v-model="pet.ownerAddress"> 
                    </div>
                    <div>
                        <label >FECHA NACIMIENTO: </label>
                        <input id="Fecha de nacimiento" name="Fecha de nacimiento" type="date" placeholder="Fecha de nacimiento" v-model="pet.petBirthDay"> 
                    </div>
                    <div>
                        <label >RAZA: </label>
                        <input id="Raza" name="Raza" type="text" placeholder="Raza" v-model="pet.race"> 
                    </div>
                    
                </div>
                <br>
                <div class="formulario1">
                    <div>
                        <label >PESO: </label>
                        <input id="Peso" name="Peso" type="text" placeholder="Peso" v-model="pet.weight"> 
                    </div>
                    <div>
                        <label >ESPECIE: </label>
                        <input id="Especie" name="Especie" type="text" placeholder="Especie" v-model="pet.species">  
                    </div>
                    <div>
                        <label >SEXO: </label>
                        <input id="masculino/femenino" name="masculino/femenino" type="text" placeholder="masculino/femenino" v-model="pet.sex">
                        
                    </div>
                </div>
                <br>
                <div class="formulario3">
                    <label >USUARIO: </label>
                    <label >CONTRASEÑA: </label>
                    <input id="Usuario" name="Usuario" type="text" placeholder="Usuario" v-model="user.userName"> 
                    <input id="Contraseña" name="Contraseña" type="text" placeholder="Contraseña" v-model="user.password"> 
                </div>
                <br>
                <div>
                    <label class="error ">{{errorPET}}</label>
                </div>
                <br>
                <div class="formulario2">
                    <button id="Crear" type="submit" v-on:click="registerPet">Registrar mascota   </button>
                </div>

                
            </div>
        </div>

    </div>
 
</template> 
 
<script> 
import axios from 'axios'; 

export default {     
    name: "History", 
 
    data: function(){         
        return {       
            user: {                 
                userName:"",                 
                password:""             
            },
            errorORDER : "",
            order : {
                description : "",
                amount  : "",
                admin : "",
                pet : "",
                date: "",
            },
            product: {
                id: "",
                name: ""
            },
            productList: [],
            procedures: {
                id: "",
                name: ""
            },
            proceduresList: [],
            errorPET : "",
            admin: {
                id: "",
                name: "",
                lastName: ""    
            },
            adminList: [],
            pet:{
                name : "",
                ownerName: "",
                ownerCellPhone: "",
                ownerAddress: "",
                petBirthDay: "",
                dateOfEntry: "",
                race: "",
                weight: "",
                species: "",
                sex: "",
            },
            petList: []
        }     
    }, 
 
    components: {   
    }, 

    methods:{  

        validarDataPet: function () {
            if(this.pet.name==""){
                this.errorPET = "Falto diligenciar el nombre de la mascota";
                return false;
            }else if(this.pet.ownerName==""){
                this.errorPET = "Falto diligenciar el nombre del dueño de la mascota";
                return false;
            }else if(this.pet.ownerCellPhone ==""){
                this.errorPET = "Falto diligenciar el celular del dueño de la mascota";
                return false;
            }else if(this.pet.ownerAddress==""){
                this.errorPET = "Falto diligenciar la direccion del dueño de la mascota";
                return false;
            }else if(this.pet.petBirthDay==""){
                this.errorPET = "Falto diligenciar la fecha de nacimiento de la mascota";
                return false;
            }else if(this.pet.race==""){
                this.errorPET = "Falto diligenciar la raza de la mascota";
                return false;
            }else if(this.pet.weight==""){
                this.errorPET = "Falto diligenciar el peso de la mascota";
                return false;
            }else if(this.pet.species==""){
                this.errorPET = "Falto diligenciar la especie de la mascota";
                return false;
            }else if(this.pet.sex==""){
                this.errorPET = "Falto diligenciar el sexo de la mascota";
                return false;
            }else if(this.user.userName==""){
                this.errorPET = "Falto diligenciar el usuario de la mascota";
                return false;
            }else if(this.user.password==""){
                this.errorPET = "Falto diligenciar la contraseña de la mascota";
                return false;
            }
            this.errorORDER = "";
            return true;
        }, 

        limpiarPet : function(){
            this.pet.name = "";
            this.pet.ownerName= "";
            this.pet.ownerCellPhone= "";
            this.pet.ownerAddress= "";
            this.pet.petBirthDay= "";
            this.pet.race= "";
            this.pet.weight= "";
            this.pet.species= "";
            this.pet.sex= "";
            this.user.userName = "";
            this.user.password = "";                
        },

        registerPet: function() {
            console.log(this.pet.petBirthDay);
            if(this.validarDataPet()){
                this.pet.dateOfEntry += new Date().getFullYear();
                this.pet.dateOfEntry += "-";
                this.pet.dateOfEntry += new Date().getMonth()+1;
                this.pet.dateOfEntry += "-";
                this.pet.dateOfEntry += new Date().getDate();
                axios.post(  
                    `https://pinkie-pet-society-back-end.herokuapp.com/pet/create:${localStorage.getItem("id")}/`,
                    this.pet,                          
                    {headers: {'Authorization': `Bearer ${localStorage.getItem("token_access")}`}}                 
                ).then((result) => { 
                    this.user.pet = result.data.id;
                    console.log("id"+result.data.id);
                    this.createUser();                   
                    this.limpiarPet();                                                            
                }).catch((errorStatus) => {       
                    if (errorStatus.response.status == 400){
                        this.error = "El codigo unico ingresado ya se encuentra registrado";
                    } else if (errorStatus.response.status == "401"){
                        this.$emit('logOut', )
                    }                                           
                });
            }
        },

        createUser: function() {
            if(this.validarDataPet()){
                axios.post(  
                    `https://pinkie-pet-society-back-end.herokuapp.com/user/create:${localStorage.getItem("id")}/`,
                    this.user,                          
                    {headers: {'Authorization': `Bearer ${localStorage.getItem("token_access")}`}}                 
                ).then((result) => { 
                    console.log("Wacho mira la BD que ya te cree tu usuario")                                                           
                }).catch((errorStatus) => {       
                    if (errorStatus.response.status == 400){
                        this.error = "El codigo unico ingresado ya se encuentra registrado";
                    } else if (errorStatus.response.status == "401"){
                        this.$emit('logOut', )
                    }                                           
                });
            }
        },

        validarDataOrder: function () {
            console.log("product: "+this.product+"--"+Object.keys(this.product).length)
            console.log("procedures: "+this.procedures+"--"+Object.keys(this.procedures).length)
            if(this.admin==""){
                this.errorORDER = "Falto seleccionar el veterinario encargado";
                return false;
            }else if(this.pet==""){
                this.errorORDER = "Falto seleccionar la mascota atendida";
                return false;
            }else if(Object.keys(this.product).length ==2 && Object.keys(this.procedures).length == 2){
                this.errorORDER = "Falto seleccionar el producto/procedimiento";
                return false;
            }else if(this.order.description==""){
                this.errorORDER = "Falto diligenciar la descripcion";
                return false;
            }else if(this.order.amount==""){
                this.errorORDER = "Falto diligenciar la cantidad de productos/procedimientos a vender";
                return false;
            }
            this.errorORDER = "";
            return true;
        }, 

        limpiarOrder : function(){
            this.admin= {
                id: "",
                name: "",
                lastName: ""    
            };
            this.pet= {
                name : "",
                ownerName: "",
                ownerCellPhone: "",
                ownerAddress: "",
                petBirthDay: "",
                dateOfEntry: "",
                race: "",
                weight: "",
                species: "",
                sex: "",
            };
            this.product= {
                id: "",
                name: ""
            };
            this.procedures = {
                id: "",
                name: ""
            };
            this.order = {
                description : "",
                amount  : "",
                admin : "",
                pet : "",
                date: ""
            };
        },

        registerOrder: function() {
            if(this.validarDataOrder()){
                this.order.admin = this.admin.split(").")[0];
                this.order.pet = this.pet.split(").")[0];
                if(Object.keys(this.product).length!=2){//la orden contiene un producto
                    this.order['product'] = this.product.split(").")[0];
                }else{//la orden contiene un procedimiento
                    this.order['procedures'] = this.procedures.split(").")[0];
                }
                console.log(this.order);
                this.order.date += new Date().getFullYear();
                this.order.date += "-";
                this.order.date += new Date().getMonth()+1;
                this.order.date += "-";
                this.order.date += new Date().getDate();
                axios.post(  
                    `https://pinkie-pet-society-back-end.herokuapp.com/order/create:${localStorage.getItem("id")}/`,
                    this.order,                          
                    {headers: {'Authorization': `Bearer ${localStorage.getItem("token_access")}`}}                 
                ).then((result) => {                 
                    this.limpiarOrder();                                                            
                }).catch((errorStatus) => {       
                    console.log(errorStatus);
                    if (errorStatus.response.status == 400){
                        this.error = "El codigo unico ingresado ya se encuentra registrado";
                    } else if (errorStatus.response.status == "401"){
                        this.$emit('logOut', )
                    }                                           
                });
            }
        },

        showData: function() {     
            axios.get(                 
                `https://pinkie-pet-society-back-end.herokuapp.com/admin/detail:${localStorage.getItem("id")}:all/`,                          
                {headers: {'Authorization': `Bearer ${localStorage.getItem("token_access")}`}}                 
            ).then((result) => {    
                this.adminList = result.data;
            }).catch((errorStatus) => {  
                console.log(errorStatus.response);
                if (errorStatus.response.status == "400"){
                    this.errorORDER = "Error en la coneccion con la base de datos";
                }else if (errorStatus.response.status == "401"){
                    this.$emit('logOut', )
                }                                                
            }); 

            axios.get(                 
                `https://pinkie-pet-society-back-end.herokuapp.com/pet/detail:${localStorage.getItem("id")}:all/`,                          
                {headers: {'Authorization': `Bearer ${localStorage.getItem("token_access")}`}}                 
            ).then((result) => {    
                this.petList = result.data;
            }).catch((errorStatus) => {  
                console.log(errorStatus.response);
                if (errorStatus.response.status == "400"){
                    this.errorORDER = "Error en la coneccion con la base de datos";
                }else if (errorStatus.response.status == "401"){
                    this.$emit('logOut', )
                }                                                
            });

            axios.get(                 
                `https://pinkie-pet-society-back-end.herokuapp.com/product/detail:${localStorage.getItem("id")}:all/`,                          
                {headers: {'Authorization': `Bearer ${localStorage.getItem("token_access")}`}}                 
            ).then((result) => {    
                this.productList = result.data;
            }).catch((errorStatus) => {  
                console.log(errorStatus.response);
                if (errorStatus.response.status == "400"){
                    this.errorORDER = "Error en la coneccion con la base de datos";
                }else if (errorStatus.response.status == "401"){
                    this.$emit('logOut', )
                }                                                
            });

            axios.get(                 
                `https://pinkie-pet-society-back-end.herokuapp.com/procedures/detail:${localStorage.getItem("id")}:all/`,                          
                {headers: {'Authorization': `Bearer ${localStorage.getItem("token_access")}`}}                 
            ).then((result) => {    
                this.proceduresList = result.data;
            }).catch((errorStatus) => {  
                console.log(errorStatus.response);
                if (errorStatus.response.status == "400"){
                    this.errorORDER = "Error en la coneccion con la base de datos";
                }else if (errorStatus.response.status == "401"){
                    this.$emit('logOut', )
                }                                                
            });
        },
                
    },

    created: function(){
        this.showData(); 
    }
}  
</script>
 
 
<style>

    .margen{
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .formulario {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;

    }

    .formulario1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 8px;
        color: #283747; 
        font-weight: bolder;
    }

    .formulario2 {
        width: 580px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 8px;
        color: #283747; 
        font-weight: bolder;
    }

    .formulario2 button{         
        width: 100%;         
        height: 40px; 
        color: #E5E7E9;         
        background: #283747;         
        border: 1px solid #E5E7E9; 
        border-radius: 5px;         
        padding: 10px 25px;         
        margin: 5px 0;     
    } 
 
    .formulario2 button:hover{         
        color: #E5E7E9;         
        background: crimson;         
        border: 1px solid #283747;     
    }

    .error{
        width: 600px;
        justify-content: center;
        color : red;
    }

    .formulario3 {
        width: 580px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        color: #283747; 
        font-weight: bolder;
    }

    table{
        background-color: white;
        text-align: left; 
        border-collapse: collapse;
        width: 40%;
        min-width: 95%
    }

    .scrollPanel{
        overflow-y: auto;
        overflow-x:hidden;
        max-height: 60vh;
    }

    th,td{
        padding: 10px;
        max-width: 15vh;
        overflow: auto;
    }

    td button{
        color: #283747;    
        background: #fefeff;     
        border: 1px solid #283747; 
        border-radius: 5px;     
        padding: 5px 10px;  
    }

    td button:hover{     
        color: #E5E7E9;         
        background: crimson;         
        border: 1px solid #283747;   
    }

    thead{
        background-color: #283747;
        color: white; 
    }

    .input{         
        height: 40px;         
        width: 100%; 
        box-sizing: border-box;         
        padding: 10px 20px;         
        margin: 5px 0; 
        border: 1px solid #283747;     
    }

    .formulario3 button{         
        width: 100%;         
        height: 40px; 
        color: #E5E7E9;         
        background: #283747;         
        border: 1px solid #E5E7E9; 
        border-radius: 5px;         
        padding: 10px 25px;         
        margin: 5px 0;     
    } 
 
    .formulario3 button:hover{         
        color: #E5E7E9;         
        background: crimson;         
        border: 1px solid #283747;     
    }
    
    .formulario3 button:disabled{         
        color: #E5E7E9;         
        background: grey;         
        border: 1px solid grey;     
    }
</style>