<template > 
    
    <div >
        <br>   
        <h1 style="color: #283747"><center>Gestion de productos</center></h1>
        <br>
        <div class="formulario">
            <!--formulario-->
            <div class="margen">
                <div class="formulario1">
                    <div>
                        <label >ID: </label>
                        <input id="ID" name="ID" type="text" placeholder="ID " v-model="product.id" readonly> 
                    </div>
                    <div>
                        <label >NOMBRE: </label>
                        <input id="Nombre" name="Nombre" type="text" placeholder="Nombre" v-model="product.name"> 
                    </div>
                    <div>
                        <label >CODIGO: </label>
                        <input id="Codigo" name="Codigo" type="number" placeholder="Codigo" v-model="product.code">  
                    </div>
                </div>
                <br>
                <div class="formulario2">
                    <label >DESCRIPCION: </label>
                    <textarea  id="Descripcion" name="Descripcion" type="text" style="resize: none; " rows="3" placeholder="Descripcion" v-model="product.description"></textarea>
                </div>
                <br>
                <div class="formulario1">
                    <div>
                        <label >MARCA: </label>
                        <input id="Marca" name="Marca" type="text" placeholder="Marca" v-model="product.brand"> 
                    </div>
                    <div>
                        <label >STOCK: </label>
                        <input id="Stock" name="Stock" type="number" placeholder="Stock" v-model="product.stocks" > 
                    </div>
                    <div>
                        <label >PRECIO: </label>
                        <input id="Precio" name="Precio" type="number" placeholder="Precio" v-model="product.price"> 
                    </div>
                </div>
                <br>
                <div>
                    
                    <label class="error ">{{error}}</label>
                </div>
                <br>
                <div class="formulario3">
                        <button id="Crear" type="submit" v-on:click="crear">Crear</button>
                        <button id="Eliminar" type="submit" v-on:click="eliminar">Eliminar</button>
                        <button id="Modificar" type="submit" v-on:click="modificar">Modificar</button>
                        <button id="Actualizar" type="submit" v-on:click="actualizar" disabled>Actualizar</button>            
                </div>

                
            </div>
            <!--tabla-->
            <div class="scrollPanel margen" >
                <table id="tabla" >
                    <thead id="cabecera">
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Codigo</th>
                            <th>Marca</th>
                            <th>Descripcion</th>
                            <th>Stock</th>
                            <th>Precio</th>
                        </tr>
                    </thead>

                    <tbody id="cuerpo" >                        
                        <tr v-for="product in productList" v-bind:key="product.id">
                            <td><button v-on:click="mostrar(product)">{{product.id}}</button></td>
                            <td>{{product.name}}</td>
                            <td>{{product.code}}</td>
                            <td>{{product.brand}}</td>
                            <td>{{product.description}}</td>
                            <td>{{product.stocks}}</td>
                            <td>{{product.price}}</td>
                            
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
 
</template> 
 
<script> 
import axios from 'axios'; 

export default {     
    name: "Inventario", 
 
    data: function(){         
        return {       
            error : "",
            product : {
                id : "",
                name : "",
                code : "",
                brand : "",
                description : "",
                stocks : "",
                price : ""
            },
            productList : []
        }     
    }, 
 
    components: {   
    }, 

    methods:{  

        mostrar: function(product){
            this.product = product;
            var btnCrear = document.getElementById("Crear");
            var btnEliminar = document.getElementById("Eliminar");
            var btnModificar = document.getElementById("Modificar");
            var btnActualizar = document.getElementById("Actualizar");
        
            btnCrear.disabled = true;
            btnEliminar.disabled = false;
            btnModificar.disabled = false;
            btnActualizar.disabled = true; 
        },

        validarData: function () {
            if(this.product.id==""){
                this.error = "Falto diligenciar el ID del producto a procesar";
                return false;
            }else if(this.product.name==""){
                this.error = "Falto diligenciar el nombre del producto a procesar";
                return false;
            }else if(this.product.code==""){
                this.error = "Falto diligenciar el codigo del producto a procesar";
                return false;
            }else if(this.product.description==""){
                this.error = "Falto diligenciar la descripcion del producto a procesar";
                return false;
            }else if(this.product.brand==""){
                this.error = "Falto diligenciar la marca del producto a procesar";
                return false;
            }else if(this.product.stocks==""){
                this.error = "Falto diligenciar el stock del producto a procesar";
                return false;
            }else if(this.product.price==""){
                this.error = "Falto diligenciar el precio del producto a procesar";
                return false;
            }
            this.error = "";
            return true;
        },

        limpiar : function(){
            this.product.id="";
            this.product.name="";
            this.product.code="";
            this.product.brand="";
            this.product.description="";
            this.product.stocks="";
            this.product.price="";
            this.error = "";
        },
    
        crear: function() {
            if(this.validarData()){
                axios.post(  
                    `https://pinkie-pet-society-back-end.herokuapp.com/product/create:${localStorage.getItem("id")}/`,
                    this.product,                          
                    {headers: {'Authorization': `Bearer ${localStorage.getItem("token_access")}`}}                 
                ).then((result) => {                    
                    this.limpiar();                  
                    this.showData();                                                          
                }).catch((errorStatus) => {       
                    if (errorStatus.response.status == 400){
                        this.error = "El codigo unico ingresado ya se encuentra registrado";
                    } else if (errorStatus.response.status == "401"){
                        this.$emit('logOut', )
                    }                                           
                });
            }
        },

        eliminar: function () {       
            axios.delete(                 
                `https://pinkie-pet-society-back-end.herokuapp.com/product/delete:${localStorage.getItem("id")}:${this.product.id}/`,                          
                {headers: {'Authorization': `Bearer ${localStorage.getItem("token_access")}`}}                 
            ).then((result) => {
                var btnCrear = document.getElementById("Crear");
                    btnCrear.disabled = false;
                    this.limpiar();
                    this.showData();                                                             
            }).catch((errorStatus) => {                                          
                if (errorStatus.response.status == "401"){
                    this.$emit('logOut', )
                }                                                
            });    
        },

        modificar: function() {
            var btnCrear = document.getElementById("Crear");
            var btnEliminar = document.getElementById("Eliminar");
            var btnModificar = document.getElementById("Modificar");
            var btnActualizar = document.getElementById("Actualizar");
           
           btnCrear.disabled = true;
           btnEliminar.disabled = true;
           btnModificar.disabled = true;
           btnActualizar.disabled = false;
        }, 

        actualizar: function () {       
            if(this.validarData()){
                axios.put(                 
                    `https://pinkie-pet-society-back-end.herokuapp.com/product/update:${localStorage.getItem("id")}:${this.product.id}/`,
                    this.product,                          
                    {headers: {'Authorization': `Bearer ${localStorage.getItem("token_access")}`}}                 
                ).then((result) => {             
                    var btnCrear = document.getElementById("Crear");
                    var btnEliminar = document.getElementById("Eliminar");
                    var btnModificar = document.getElementById("Modificar");
                    var btnActualizar = document.getElementById("Actualizar");
                
                    btnCrear.disabled = false;
                    btnEliminar.disabled = false;
                    btnModificar.disabled = false;
                    btnActualizar.disabled = true; 
                    
                    this.limpiar();
                    this.showData(); 
                }).catch((errorStatus) => {                                          
                    if (errorStatus.response.status == "401"){
                        this.$emit('logOut', )
                    }
                });
            }
        },

        showData: function() {     
            axios.get(                 
                `https://pinkie-pet-society-back-end.herokuapp.com/product/detail:${localStorage.getItem("id")}:all/`,                          
                {headers: {'Authorization': `Bearer ${localStorage.getItem("token_access")}`}}                 
            ).then((result) => {   
               this.productList = result.data;
               for(let i of result.data){
                   this.product.id = (i.id+1).toString();
               }
            }).catch((errorStatus) => {                                          
                if (errorStatus.response.status == "400"){
                    this.error = "Error en la coneccion con la base de datos";
                }else if (errorStatus.response.status == "401"){
                    this.$emit('logOut', )
                }                                                
            }); 
        },
        
    },

    

    created: function(){ 
        this.showData();
    }
}  
</script>
 
 
<style>

    .margen{
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .formulario {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        color: #283747; 
    }

    .formulario1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 8px;
        color: #283747; 
        font-weight: bolder;
    }

    .formulario2 {
        width: 580px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 8px;
        color: #283747; 
        font-weight: bolder;
    }

    .error{
        width: 600px;
        justify-content: center;
        color : red;
    }

    .formulario3 {
        width: 580px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        color: #283747; 
        font-weight: bolder;
    }

    table{
        background-color: white;
        text-align: left; 
        border-collapse: collapse;
        width: 40%;
        min-width: 95%
    }

    .scrollPanel{
        overflow-y: auto;
        overflow-x:hidden;
        max-height: 60vh;
    }

    th,td{
        padding: 20px;
    }

    td button{
        color: #283747;    
        background: #fefeff;     
        border: 1px solid #283747; 
        border-radius: 5px;     
        padding: 5px 10px;  
    }

    td button:hover{     
        color: #E5E7E9;         
        background: crimson;         
        border: 1px solid #283747;   
    }

    thead{
        background-color: #283747;
        color: white; 
    }

    .input{         
        height: 40px;         
        width: 100%; 
        box-sizing: border-box;         
        padding: 10px 20px;         
        margin: 5px 0; 
        border: 1px solid #283747;     
    }

    .formulario3 button{         
        width: 100%;         
        height: 40px; 
        color: #E5E7E9;         
        background: #283747;         
        border: 1px solid #E5E7E9; 
        border-radius: 5px;         
        padding: 10px 25px;         
        margin: 5px 0;     
    } 
 
    .formulario3 button:hover{         
        color: #E5E7E9;         
        background: crimson;         
        border: 1px solid #283747;     
    }
    
    .formulario3 button:disabled{         
        color: #E5E7E9;         
        background: grey;         
        border: 1px solid grey;     
    }
</style>