<template > 
    
    <div >
        <br><br>     
        <div class="formulario">
            <div class="margen">
                <img src="http://drive.google.com/uc?export=view&id=1qXJoMEbVgMNawnBSK-8aEdD1w3lFxC5y" alt="Main.png">
            </div>
        </div>
    </div>
 
</template> 
 
