<template > 
    
    <div >
        <br>   
        

        <div class="formulario">
            <h2 style="color: #283747"><center>Carnet de vacunacion </center></h2>
            <h2 style="color: #283747"><center>Historial de compras </center></h2>
            <!--tabla-->
            <div class="scrollPanel margen" >
                <table id="tabla">
                    <thead id="cabecera">
                        <tr>
                            <th>Id</th>
                            <th>Vacuna</th>
                            <th>Fecha</th>
                            <th>Cantidad</th>
                            <th>Veterinario</th>
                        </tr>
                    </thead>

                    <tbody id="cuerpo" >                        
                        <tr v-for="order in orderList" v-bind:key="order.id">
                            <td v-if="(order.procedures).split(' ')[0]=='Vacunacion'">{{order.id}}</td>
                            <td v-if="(order.procedures).split(' ')[0]=='Vacunacion'">{{order.procedures}}</td>
                            <td v-if="(order.procedures).split(' ')[0]=='Vacunacion'">{{order.date}}</td>
                            <td v-if="(order.procedures).split(' ')[0]=='Vacunacion'">{{order.amount}}</td>
                            <td v-if="(order.procedures).split(' ')[0]=='Vacunacion'">{{order.admin}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <!--tabla-->
            <div class="scrollPanel margen" >
                <table id="tabla" >
                    <thead id="cabecera">
                        <tr>
                            <th>Id</th>
                            <th>Procedimiento</th>
                            <th>Producto</th>
                            <th>Encargado</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                        </tr>
                    </thead>

                    <tbody id="cuerpo" >                        
                        <tr v-for="order in orderList" v-bind:key="order.id">
                            <td>{{order.id}}</td>
                            <td>{{order.procedures}}</td>
                            <td>{{order.product}}</td>
                            <td>{{order.admin}}</td>
                            <td>{{order.amount}}</td>
                            <td>{{order.price}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            
        </div>

    </div>
 
</template> 
 
<script> 
import axios from 'axios'; 

export default {     
    name: "History", 
 
    data: function(){         
        return {       
            order : {
                id: "",
                product: "",
                procedures: "",
                description : "",
                amount  : "",
                admin : "",
                date: "",
                price: ""
            },
            orderList: []
        }     
    }, 
 
    components: {   
    }, 

    methods:{  
        showData: function() {     
            axios.get(                 
                `https://pinkie-pet-society-back-end.herokuapp.com/order/detail:${localStorage.getItem("id")}:${localStorage.getItem("pet_id")}:all/`,                          
                {headers: {'Authorization': `Bearer ${localStorage.getItem("token_access")}`}}                 
            ).then((result) => {    
                this.orderList = result.data;
            }).catch((errorStatus) => {  
                console.log(errorStatus.response);
                if (errorStatus.response.status == "400"){
                    this.errorORDER = "Error en la coneccion con la base de datos";
                }else if (errorStatus.response.status == "401"){
                    this.$emit('logOut', )
                }                                                
            }); 
        }
    },


    created: function(){ 
        this.showData();
    }
}  
</script>
 
 
<style>

    .margen{
        width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    .formulario {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;

    }

    .formulario1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 8px;
        color: #283747; 
        font-weight: bolder;
    }

    .formulario2 {
        width: 580px;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 8px;
        color: #283747; 
        font-weight: bolder;
    }

    .formulario2 button{         
        width: 100%;         
        height: 40px; 
        color: #E5E7E9;         
        background: #283747;         
        border: 1px solid #E5E7E9; 
        border-radius: 5px;         
        padding: 10px 25px;         
        margin: 5px 0;     
    } 
 
    .formulario2 button:hover{         
        color: #E5E7E9;         
        background: crimson;         
        border: 1px solid #283747;     
    }

    .error{
        width: 600px;
        justify-content: center;
        color : red;
    }

    .formulario3 {
        width: 580px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        color: #283747; 
        font-weight: bolder;
    }

    table{
        background-color: white;
        text-align: left; 
        border-collapse: collapse;
        width: 40%;
        min-width: 95%
    }

    .scrollPanel{
        overflow-y: auto;
        overflow-x:hidden;
        max-height: 60vh;
    }

    th,td{
        padding: 10px;
        max-width: 15vh;
        overflow: auto;
    }

    td button{
        color: #283747;    
        background: #fefeff;     
        border: 1px solid #283747; 
        border-radius: 5px;     
        padding: 5px 10px;  
    }

    td button:hover{     
        color: #E5E7E9;         
        background: crimson;         
        border: 1px solid #283747;   
    }

    thead{
        background-color: #283747;
        color: white; 
    }

    .input{         
        height: 40px;         
        width: 100%; 
        box-sizing: border-box;         
        padding: 10px 20px;         
        margin: 5px 0; 
        border: 1px solid #283747;     
    }

    .formulario3 button{         
        width: 100%;         
        height: 40px; 
        color: #E5E7E9;         
        background: #283747;         
        border: 1px solid #E5E7E9; 
        border-radius: 5px;         
        padding: 10px 25px;         
        margin: 5px 0;     
    } 
 
    .formulario3 button:hover{         
        color: #E5E7E9;         
        background: crimson;         
        border: 1px solid #283747;     
    }
    
    .formulario3 button:disabled{         
        color: #E5E7E9;         
        background: grey;         
        border: 1px solid grey;     
    }
</style>